# .env.example

# 1. The Keys you just got from Google
AUTH_GOOGLE_ID= 
AUTH_GOOGLE_SECRET= 

# 2. Your NextAuth Secret (Required for encryption)
# You can generate a new one by running `npx auth secret` in your P17 terminal
# AUTH_SECRET=your-randomly-generated-secret-key
AUTH_SECRET= 

# 3. Base URL (Optional for local, but good practice)
AUTH_URL= 